@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/placeholders";

.header {
    padding: 40px 0 0 55px;
    @include flex(normal, center);
    height: 136px;
    .line {
        margin-left: 29px;
        position: relative;
        left: 30px;
        flex: 1 1 auto;
        height: 1px;
        background-color: $light-gray;
        z-index: 5;
    }
    .nav {
        position: relative;
        height: 100%;
        @include flex(center, stretch);
        gap: 48px;
        flex: 0 1 930px;
        font-family: $barlow-condensed;
        a {
            z-index: 5;
            @extend %link-styles;
            font-size: 0.9rem;
        }
    }
    .blur::before {
        content: "";
        position: absolute;
        @include size(100%, 100%);
        background-color: $gray-transparent;
        backdrop-filter: blur(15px);
        z-index: 1;
    }
}