@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/placeholders";

.header {
    padding: 40px 0 0 55px;
    @include flex(normal, center);
    height: 136px;
    .line {
        margin-left: 29px;
        position: relative;
        left: 30px;
        flex: 1 1 auto;
        height: 1px;
        background-color: $light-gray;
        z-index: 5;
    }
    .main_nav {
        position: relative;
        height: 100%;
        @include flex(center, stretch);
        gap: 48px;
        flex: 0 1 830px;
        font-family: $barlow-condensed;
        a {
            z-index: 5;
            @extend %link-styles;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .header {
        padding: 0 0 0 39px;
        justify-content: space-between;
        height: 96px;
        .line {
            display: none;
        }
        .main_nav {
            flex-basis: 450px;
            gap: 40px;
            a {
                font-size: 0.875rem;
                letter-spacing: 2.36px;
                span {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .header {
        height: unset;
        padding: 1.5rem 1.5rem 0 1.5rem;
        .main_nav {
            display: none;
        }
    }
}