@mixin flex($justify, $align: normal, $direction : row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin font($family, $size, $color, $weight: 400, $height: normal, $spacing: normal) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    line-height: $height;
    letter-spacing: $spacing;
}