/*Fonts*/
$bellefair: 'Bellefair', serif;
$barlow: 'Barlow', sans-serif;
$barlow-condensed: 'Barlow Condensed', sans-serif;

/*Colors*/
$white: rgb(255, 255, 255);
$white-05: rgba(255, 255, 255, 0.5);
$gray-transparent: rgba(255, 255, 255, 0.04);
$light-gray: rgba(150, 150, 150, 0.5);
$light-blue: rgb(210, 216, 249);
$shadow-gray: rgba(255, 255, 255, 0.1);
$span-color: rgba(255, 255, 255, 0.25);
$crew-link-color: rgba(150, 150, 150, 0.17);
$active-link-color: rgb(12, 14, 24);