@import './mixins';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    background: black;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/*Rewrited mui styles*/
.MuiDrawer-root .MuiPaper-root {
    width: 254px;
    background-color: transparent;
    z-index: 1;
}

.MuiButtonBase-root {
    min-width: unset;
    padding: 0;
}

.MuiButtonBase-root.close-button {
    position: absolute;
    z-index: 5;
    top: 2.125rem;
    right: 1.7rem;
    @include size(19px, 20px);
}