@import "./mixins";
@import "./variables";

/*Shared nav underline and blur*/
.navigation {
    a::after {
        content: "";
        position: absolute;
        @include size(100%, 3px);
        bottom: 0px;
        z-index: 5;
        transition: 0.2s ease;
    }
    a.active::after, a.active:hover:after {
        background-color: $white;
    }
    a:hover::after {
        background-color: $white-05;
    }
}

.blur::before {
    content: "";
    position: absolute;
    @include size(100%, 100%);
    background-color: $gray-transparent;
    backdrop-filter: blur(15px);
    z-index: 1;
}

/*Shared card description*/
.description {
    @include font($barlow, 1.125rem, $light-blue, 400, 1.8);
}

/*Shared image animation*/
.visibility {
    animation: 0.5s ease-in visibility;
}

@media only screen and (max-width: 1024px) {
    .description {
        font-size: 1rem;
        line-height: 1.75;
    }
}

@media only screen and (max-width: 480px) {
    .description {
        font-size: 0.9375rem;
        line-height: 1.67;
    }
}

@keyframes visibility {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}