@import '../../styles/variables';
@import '../../styles/mixins';

.page_title {
    display: flex;
    gap: 1.75rem;
    @include font($barlow-condensed, 1.75rem, $white, 400, normal, 4.72px);
    span {
        font-weight: 700;
        color: $span-color;
    }
}

@media only screen and (max-width: 1024px) {
    .page_title {
        padding-left: 38px;
        gap: 1.1875rem;
        font-size: 1.25rem;
        letter-spacing: 3.38px;
    }
}

@media only screen and (max-width: 480px) {
    .page_title {
        padding-left: 0;
        justify-content: center;
        gap: 1.125rem;
        font-size: 1rem;
        letter-spacing: 2.7px;
    }
}